<
@{
    ViewBag.Title = "Lead Management";
    Layout = "~/Views/Shared/_LayoutUser3.cshtml";
}
<div class="inner-banner">
    <img src="~/images/about-banner.jpg">
    <h1>Contact Us</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
    </ol>
</div>
<div class="page-content">
    <div class="contact-page">
        <div class="container">
            <div class="contact-main">
                <div class="row">
                    <div class="col-md-7 pr-0">
                        <div class="contact-wrapper">
                            <div class="contact-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                            <div class="contact-blue-wrapper">
                                <div class="contact-blue-box">
                                    <div class="row">
                                        <div class="head-wht">
                                            <p>Feel Free to contact us</p>
                                            <small>We are happy to hear from you. Please fill the form below.</small>
                                        </div>
                                        <form class="eq-form">
                                            <div class="col-sm-12 form-group">
                                                <input type="text" value="" id="Name" name="Name" size="40" class="form-control" placeholder="Name">
                                            </div>
                                            <div class="col-sm-12 form-group">
                                                <input type="email" id="OfficialEmail" name="OfficialEmail" value="" size="40" class="form-control" placeholder="Official Email">
                                            </div>
                                            <div class="col-sm-12 form-group">
                                                <input type="text" value="" id="Mobile" name="Mobile" size="40" class="form-control" placeholder="Mobile No.">
                                            </div>
                                            <div class="col-sm-12 form-group">
                                                <input type="text" value="" size="40" id="Organization" name="Organization" class="form-control" placeholder="Organization">
                                            </div>
                                            <div class="col-sm-12 form-group">
                                                <input type="text" value="" size="40" id="Country" name="Country" class="form-control" placeholder="Country">
                                            </div>
                                            <div class="col-sm-12 form-group">
                                                <input type="text" value="" size="40" id="State" name="State" class="form-control" placeholder="State">
                                            </div>
                                            <div class="col-sm-12 form-group">
                                                <input type="text" value="" size="40" class="form-control" placeholder="City" id="City" name="City">
                                            </div>
                                            @*<div class="col-sm-12 form-group">
                                                <textarea class="form-control" rows="3" id="comment" placeholder="Description"></textarea>
                                            </div>*@
                                            @*<div class="col-sm-12 form-group btn-submit"> <a class="send-btn" href="#">Send Message</a> </div>*@

                                            <div class="col-sm-12 form-group btn-submit"> <button id="btnSaveContact" type="submit" class="common-btn" data-loading-text="Please wait...">Send Message</button></div>
                                           

                                        </form>
                                    </div>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 pl-0">
                        <div class="map-location">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10636.513676748285!2d-122.33053060829488!3d37.57262592766582!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f9de0a62fc1ab%3A0xdad364b94a4d3bb2!2s448+N+San+Mateo+Dr%2C+San+Mateo%2C+CA+94401!5e0!3m2!1sen!2sus!4v1463727194108" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="hair-restoration-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-hair-color">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="hair-color-detail-heading"> <h3> Get in Touch </h3></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="get-touch-wrapper">
                                        <div class="get-touch-box">
                                            <div class="get-touch-pic">
                                                <img src="~/images/get-in-touch01.png" alt="">
                                            </div>
                                            <div class="get-touch-txt">
                                                <strong>NORTH AMERICA OFFICE</strong>
                                                <p>
                                                    <i class="fa fa-phone"></i> Call 001-002-0003<br>
                                                    <a href="#"><i class="fa fa-envelope"></i> info@domainname.com</a><br>
                                                    <a href="#"><i class="fa fa-globe"></i> www.doaminname.com</a><br>
                                                    <i class="fa fa-map-marker"></i> B-44 sector-57 noida
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="get-touch-wrapper">
                                        <div class="get-touch-box">
                                            <div class="get-touch-pic">
                                                <img src="~/images/get-in-touch02.png" alt="">
                                            </div>
                                            <div class="get-touch-txt">
                                                <strong>ASIA PACIFIC OFFICE</strong>
                                                <p>
                                                    <i class="fa fa-phone"></i> Call 001-002-0003<br>
                                                    <a href="#"><i class="fa fa-envelope"></i> info@domainname.com</a><br>
                                                    <a href="#"><i class="fa fa-globe"></i> www.doaminname.com</a><br>
                                                    <i class="fa fa-map-marker"></i> B-44 sector-57 noida
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="get-touch-wrapper">
                                        <div class="get-touch-box">
                                            <div class="get-touch-pic">
                                                <img src="~/images/get-in-touch03.png" alt="">
                                            </div>
                                            <div class="get-touch-txt">
                                                <strong>EUROPE OFFICE</strong>
                                                <p>
                                                    <i class="fa fa-phone"></i> Call 001-002-0003<br>
                                                    <a href="#"><i class="fa fa-envelope"></i> info@domainname.com</a><br>
                                                    <a href="#"><i class="fa fa-globe"></i> www.doaminname.com</a><br>
                                                    <i class="fa fa-map-marker"></i> B-44 sector-57 noida
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

<script>

    $(function () {
        $("#btnSaveContact").click(function () {
            debugger
            var freeTrail = {};
            freeTrail.Name = $("#Name").val();
            freeTrail.OfficalEmail = $("#OfficialEmail").val();
            freeTrail.Mobile = $("#Mobile").val();
            freeTrail.Organisation = $("#Organization").val();
            freeTrail.State = $("#State").val();
            freeTrail.Country = $("#Country").val();
            freeTrail.City = $("#City").val();


            $.ajax({
                type: "POST",
                url: '@Url.Action("SendContactUs")',
                data: freeTrail,
                success: function (data) {
                    debugger
                    if (data.data == "Success") {
                        //alert("Data has been added successfully.");
                        swal("Thank you!", "Data has been added successfully.", "success");
                        $("#Name").val('');
                        $("#OfficialEmail").val('');
                        $("#Mobile").val('');
                        $("#Organization").val('');
                        $("#State").val('');
                        $("#Country").val();
                        $("#City").val('');

                    }
                    else {
                        alert("Error while inserting data");
                    }
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
            return false;
        });
    });
</script>